body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 8pt;
    margin: 0;
}

header {
    display: inline-block;
    color: black;
    background-color: cyan;
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    padding: 12pt;
}

#topmenu {
    display: inline-block;
    background-color: #005050;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    }

li {
    display: inline-block;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-weight: normal;
    padding: 6pt;
    margin: 0;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    height: 500px;
}

#col1 {
    box-sizing: border-box;
    order: 1;
    width: 50%;
    height: 50%;
    background-color: #909090;
    padding: 6pt;
}

#col2 {
    box-sizing: border-box;
    order: 3;
    width: 100%;
    height: 50%;
    padding: 6pt;
    background-color: #B0B0B0;
}

#col3 {
    box-sizing: border-box;
    order: 2;
    width: 50%;
    height: 50%;
    padding: 6pt;
    background-color: #D0D0D0;
}

footer {
    display: inline-block;
    background-color: #005050;
    color: white;
    text-align: center;
    width: 100%;
    padding: 6pt;
}

@media only screen and (min-width: 600px) {
    header {
        font-size: 16pt;
        padding: 10pt;
    }

    #topmenu {
        font-size: 10pt;
    }

    li {
        padding: 10pt;
    }

    section {
        flex-wrap: nowrap;
        /*height: 450px;*/
        font-size: 10pt;
    }

    #col1 {
        width: 25%;
        height: 100%;
        padding: 8pt;
    }

    #col2 {
        order: 2;
        width: 50%;
        height: 100%;
        padding: 8pt;
    }

    #col3 {
        order: 3;
        width: 25%;
        height: 100%;
        padding: 8pt;
    }

    footer {
        font-size: 12pt;
        padding: 10pt;
    }
}