header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url("../images/ReducedIronRock.jpg"); /* background image */
    background-size: cover; /* Ensures the background image covers the entire header */
    background-position: center; /* Centers the background image */
    padding: 20px; /* Adds some padding to the header */
    color: white; /* Ensures text remains readable on the background */
    text-align: center;
}

body {
    background-color: rgb(46, 42, 15);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1rem;
    /*text-align: center;*/
}

.profile-img {
    width:  150px;
    height: 200px;
}

h1 {
    color:aquamarine;
    font-family: 'Franklin Gothic Medium', serif,  sans-serif;
    letter-spacing: .1rem;
    font-size: 4em;
    margin: 0;
}

h2 {
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', serif,  sans-serif;
    letter-spacing: .125rem;
    font-size: 2em;
    text-align: left;
}

footer {
    font-size: .85rem;
}

.IMDBref:visited {
    color: rgb(81, 81, 251);
}

.IMDBref:link {
    color:lightblue;
    text-decoration: none;
}

.IMDBref:hover {
    text-decoration: underline;
    color:lightblue;
}

.emphasis_level1 {
    color: tan;
}

.emphasis_level2 {
    color: yellow;
    letter-spacing: .15rem;
    font-weight: bold;
}

figcaption {
    text-align: left;
    color: violet;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(255, 200, 255);
}

footer a {
    color: cyan;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px; /* Adjust the spacing between the sections */
    text-align: left; /* Align text to the left within the sections */
}

.side-by-side div {
    flex: 1;
}